/week2-025.SumOfThreeNumbers/build/
/week2-032.TheSumOfSetOfNumbers/build/
/week2-027.FromOneToHundred/build/
/week2-026.SumOfManyNumbers/build/
/week2-031.LowerLimitAndUpperLimit/build/
/week2-038.ManyPrints/build/
/week2-037.PrintingOutText/build/
/week2-035.SumOfThePowers/build/
/week2-035.SumOfThePowers/dist/
/week2-039.Printing/build/
/week2-033.TheSumBetweenTwoNumbers/build/
/week2-034.Factorial/dist/
/week2-034.Factorial/build/
/week2-036.LoopsEndingRemembering/build/
/week3-046.AverageOfGivenNumbers/build/
/week3-043.SumOfNumbers/build/
/week3-052.ReversingName/build/
/week2-040.PrintingLikeboss/build/
/week3-049.LastCharacter/build/
/week3-044.Least/build/
/week3-047.LengthOfName/build/
/week3-051.SeparatingCharacters/build/
/week3-054.TheEndPart/build/
/week3-050.SeparatingFirstCharacters/build/
/week3-045.Greatest/build/
/week3-055.WordInsideWord/build/
/week2-041.GuessingNumberGame/build/
/week3-053.FirstPart/build/
/week3-048.FirstCharacter/build/
/week3-056.ReversingText/build/
/week2-042.Hangman/build/
/week3-061.NumberOfItems/build/
/week3-059.WordsInReverseOrder/build/
/week3-058.RecurringWord/build/
/week3-062.RemoveLast/build/
/week3-065.LengthsOfStrings/build/
/week3-060.WordsInAlphabeticalOrder/build/
/week3-057.Words/build/
/week3-067.TheVariance/build/
/week3-066.TheGreatest/build/
/week3-063.SumOfNumbers/build/
/week3-064.AverageOfNumbers/build/
/week3-068.MoreThanOnce/build/
/week3-069.Palindrome/build/
/week4-078.ClockUsingCounter/build/
/week4-082.Lottery/build/
/week4-077.LyyraCard/build/
/week4-079.NumberStatistics/build/
/week4-081.PasswordRandomizer/build/
/week4-080.Dice/build/
/week5-084.OverloadedCounter/build/
/week5-085.Reformatory/build/
/week4-083.HangmanLogic/build/
/week4-083.HangmanLogic/dist/
/week5-086.LyyraCardAndRegister/build/
/week5-092.DifferenceDate/build/
/week5-093.PersonExtended/build/
/week6-100.NightSky/nbproject/private/
/week6-101.Library/nbproject/private/
/week6-100.NightSky/build/